<% if current_user %>
  Welcome back! <br>
  <%= link_to 'Log out', '/logout' %>
<% else %>
  <h1>Welcome to Viewing Party!</h1>
  <%= link_to "Log in", "/login" %>
<% end %>
<hr>
<h3>Current Users:</h3>
<% @users.each do |user| %>
  <h3><%= link_to "#{user.name}", "/dashboard?user_id=#{user.id}" %></h3>
  <p><%= user.email %></p>
  <hr>
<% end %>
<%= button_to "Create New User", "/users/new", method: :get %><br>
